<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/navff/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="navff" />
      <add key="ClearTextPassword" value="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" /> <!-- Read my packages only token -->
    </github>
  </packageSourceCredentials>
</configuration>