@page "{id?}"
@model Public.WebStore.Pages.Payment.Error

@{
    ViewBag.Title = "Оплата не прошла";
    Layout = "~/Pages/Shared/_PureLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-12 col-md-8 col-lg-6">
                <div class="row justify-content-center">
                    <script src="https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player
                            src="https://assets6.lottiefiles.com/packages/lf20_FQcOBH.json"
                            background="transparent"
                            speed="0.6"
                            style="width: 300px; height: 300px;"
                            autoplay>
                        </lottie-player>
        
        
                    <div class="px-50 pb-50">
                        <h3 style="text-align: center">Во время оплаты что-то пошло не так.
                            <br/>Попробуйте оплатить другим способом. </h3>
                        @if (Model.ProductId.HasValue)
                        {
                            <div class="row mx-4 my-4 justify-content-center">
                                <a href="@Url.Content($"~/store/product/{Model.ProductId}")" class="btn btn-lg btn-info">← Вернуться к товару и попробовать снова</a>
                            </div>
                        }

                        <p style="text-align: center">
                            Если ничего не получается, переводите денежку по номеру телефона: +79211357452 (Надежда В.)
                        </p>
                    </div>
                </div>
            </div>    
    </div>
    

</div>