@page
@model Public.WebStore.Pages.Payment.Success

@{
    ViewBag.Title = "Оплата прошла успешно!";
    Layout = "~/Pages/Shared/_PureLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-12 col-md-8 col-lg-6">
                <div class="row">
                    <script src="https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <div class="justify-content-center">
                        <lottie-player
                            src="https://assets3.lottiefiles.com/packages/lf20_pBawUjQ12v.json"
                            background="transparent"
                            speed="0.5"
                            style="width: 300px; height: 300px;"
                            autoplay>
                        </lottie-player>
        
        
                        <div class="px-50 pb-50">
                            <h3 style="text-align: center">Оплата прошла успешно, всё хоршо.
                                <br/>Спасибо за покупку, приятного аппетита.</h3>
        
                            <p style="text-align: center">
                                Подписывайтесь на <a href="https://vk.com/anyor_sweets">нашу группу Вконтакте</a>, чтобы быть
                                в курсе новинок, давать обратную связь и приходить на кулинарные мастер-классы.
                            </p>
        
                        </div>
        
                    </div>
        
                </div>
            </div>    
    </div>
    

</div>