<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!--== Font-awesome Icons CSS ==-->
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <!--== Pe Icon 7 Min Icons CSS ==-->
    <link href="/css/pe-icon-7-stroke.min.css" rel="stylesheet"/>
    <!--== Ionicons CSS ==-->
    <link href="/css/ionicons.css" rel="stylesheet"/>
    <!--== Animate CSS ==-->
    <link href="/css/animate.css" rel="stylesheet"/>
    <!--== Aos CSS ==-->
    <link href="/css/aos.css" rel="stylesheet"/>
    <!--== FancyBox CSS ==-->
    <link href="/css/jquery.fancybox.min.css" rel="stylesheet"/>
    <!--== Slicknav CSS ==-->
    <link href="/css/slicknav.css" rel="stylesheet"/>
    <!--== Swiper CSS ==-->
    <link href="/css/swiper.min.css" rel="stylesheet"/>
    <!--== Slick CSS ==-->
    <link href="/css/slick.css" rel="stylesheet"/>
    <!--== Main Style CSS ==-->
    <link href="/css/style.css" rel="stylesheet" />

</head>

<body>

<!--wrapper start-->
<div class="wrapper home-default-wrapper">

  <!--== Start Preloader Content ==-->
  <div class="preloader-wrap">
    <div class="preloader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!--== End Preloader Content ==-->

  <!--== Start Header Wrapper ==-->
  <header class="header-wrapper">
    <div class="header-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-6">
            <div class="header-info-left">
              <p>Делаем жизнь слаще</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8 col-lg-6 sm-pl-0 xs-pl-15 header-top-right">
            <div class="header-info">
              <a href="tel://+00123456789"><i class="fa fa-phone"></i> +?-921-135-7452</a>
              <a href="mailto://demo@example.com"><i class="fa fa-envelope"></i>sales@anyor.ru</a>
              <a href="login-register.html"><i class="fa fa-user"></i> Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-middle">
      <div class="container">
        <div class="row row-gutter-0 align-items-center">
          <div class="col-12">
            <div class="header-align">
              <div class="header-align-left">
                <div class="header-logo-area">
                  <a href="/">
                    <img class="logo-main" src="/img/logo.png" alt="Logo" />
                    <img class="logo-light" src="/img/logo.png" alt="Logo" />
                  </a>
                </div>
              </div>
              <div class="header-align-center">
                <div class="header-search-box">
                  <form action="#" method="post">
                    <div class="form-input-item">
                      <label for="search" class="sr-only">Поиск по товарам</label>
                      <input type="text" id="search" placeholder="Search Everything">
                      <button type="submit" class="btn-src">
                        <i class="pe-7s-search"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="header-align-right">
                <div class="header-action-area">
                  <div class="header-action-wishlist">
                    <button class="btn-wishlist" onclick="window.location.href='shop-wishlist.html'">
                      <i class="pe-7s-like"></i>
                    </button>
                  </div>
                  <div class="header-action-cart">
                    <button class="btn-cart cart-icon">
                      <span class="cart-count">01</span>
                      <i class="pe-7s-shopbag"></i>
                    </button>
                  </div>
                  <button class="btn-menu d-md-none">
                    <i class="ion-navicon"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-area header-default sticky-header">
      <div class="container">
        <div class="row row-gutter-0 align-items-center">
          <div class="col-4 col-sm-6 col-lg-2">
            <div class="header-logo-area">
              <a href="index.html">
                <img class="logo-main" src="/img/logo.png" alt="Logo" />
                <img class="logo-light" src="/img/logo.png" alt="Logo" />
              </a>
            </div>
          </div>
          <div class="col-lg-8 sticky-md-none">
            <div class="header-navigation-area d-none d-md-block">
                <ul class="main-menu nav position-relative">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/mk">Мастер-классы</a></li>
                    <li><a href="/store/sweets">Сладости</a></li>
                    <li><a href="/store/cakes">Тортики</a></li>
                    <!--<li class="has-submenu"><a href="blog.html">Blog</a>
                        <ul class="submenu-nav">
                            <li><a href="blog.html">Blog 3 Column</a></li>
                            <li><a href="blog-4-column.html">Blog 4 Column</a></li>
                            <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                            <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                            <li><a href="blog.html">Blog No Sidebar</a></li>
                            <li><a href="blog-details.html">Blog Details Left Sidebar</a></li>
                            <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                            <li><a href="blog-details-no-sidebar.html">Blog Details No Sidebar</a></li>
                        </ul>
                    </li>-->
                    <li><a href="/contacts">Контакты</a></li>
                </ul>
            </div>
          </div>
          <div class="col-8 col-sm-6 col-lg-2">
            <div class="header-action-area">
              <div class="header-action-search">
                <button class="btn-search btn-search-menu">
                  <i class="pe-7s-search"></i>
                </button>
              </div>
              <div class="header-action-login">
                <button class="btn-login" onclick="window.location.href='login-register.html'">
                  <i class="pe-7s-users"></i>
                </button>
              </div>
              <div class="header-action-wishlist">
                <button class="btn-wishlist" onclick="window.location.href='shop-wishlist.html'">
                  <i class="pe-7s-like"></i>
                </button>
              </div>
              <div class="header-action-cart">
                <button class="btn-cart cart-icon">
                  <span class="cart-count">01</span>
                  <i class="pe-7s-shopbag"></i>
                </button>
              </div>
              <button class="btn-menu d-lg-none">
                <i class="ion-navicon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--== End Header Wrapper ==-->
  
  @RenderBody()

  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area default-style" >
    <div class="footer-main">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-lg-3">
            <div class="widget-item item-style3">
              <div class="about-widget">
                <a class="footer-logo" href="index.html">
                  <img src="/img/logo-light.png" alt="Logo">
                </a>
                <p>Lorem ipsum dolor sit amet, consecl adipisicing elit, sed do eiusmod teml incididunt ut labore et dolore magna aliqua Ut enim</p>
                <div class="widget-social-icons">
                  <a href="#"><i class="ion-social-twitter"></i></a>
                  <a href="#"><i class="ion-social-tumblr"></i></a>
                  <a href="#"><i class="ion-social-facebook"></i></a>
                  <a href="#"><i class="ion-social-instagram-outline"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-2">
            <div class="widget-item item-style1">
              <h4 class="widget-title">Quick Links</h4>
              <h4 class="widget-title widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#dividerId-1">Quick Links</h4>
              <div id="dividerId-1" class="collapse widget-collapse-body">
                <nav class="widget-menu-wrap">
                  <ul class="nav-menu nav item-hover-style">
                    <li><a href="index.html">- Support</a></li>
                    <li><a href="index.html">- Helpline</a></li>
                    <li><a href="index.html">- Courses</a></li>
                    <li><a href="about.html">- About</a></li>
                    <li><a href="index.html">- Event</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-2">
            <div class="widget-item item-style1">
              <h4 class="widget-title">Other Page</h4>
              <h4 class="widget-title widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#dividerId-2">Other Page</h4>
              <div id="dividerId-2" class="collapse widget-collapse-body">
                <nav class="widget-menu-wrap item-hover-style">
                  <ul class="nav-menu nav">
                    <li><a href="about.html">- About</a></li>
                    <li><a href="blog.html">- Blog</a></li>
                    <li><a href="index.html">- Speakers</a></li>
                    <li><a href="contact.html">- Contact</a></li>
                    <li><a href="index.html">- Tricket</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-2">
            <div class="widget-item item-style2">
              <h4 class="widget-title">Company</h4>
              <h4 class="widget-title widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#dividerId-3">Company</h4>
              <div id="dividerId-3" class="collapse widget-collapse-body">
                <nav class="widget-menu-wrap item-hover-style">
                  <ul class="nav-menu nav">
                    <li><a href="index.html">- Jesco</a></li>
                    <li><a href="shop.html">- Shop</a></li>
                    <li><a href="contact.html">- Contact us</a></li>
                    <li><a href="login-register.html">- Log in</a></li>
                    <li><a href="index.html">- Help</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-3">
            <div class="widget-item">
              <h4 class="widget-title">Store Information.</h4>
              <h4 class="widget-title widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#dividerId-4">Store Information.</h4>
              <div id="dividerId-4" class="collapse widget-collapse-body">
                <p class="widget-address">2005 Your Address Goes Here. <br>896, Address 10010, HGJ</p>
                <ul class="widget-contact-info">
                  <li>Phone/Fax: <a href="tel://0123456789">0123456789</a></li>
                  <li>Email: <a href="mailto://demo@example.com">demo@example.com</a></li>
                </ul>
                <div class="widget-payment-info">
                  <div class="thumb">
                    <a href="index.html"><img src="/img/photos/payment1.png" alt="Image"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-shape bg-img" data-bg-img="/img/photos/footer1.png"></div>
  </footer>
  <!--== End Footer Area Wrapper ==-->
  
  <!--== Scroll Top Button ==-->
  <div class="scroll-to-top"><span class="fa fa-angle-double-up"></span></div>

  <!--== Start Product Quick View ==-->
  <aside class="product-quick-view-modal">
    <div class="product-quick-view-inner">
      <div class="product-quick-view-content">
        <button type="button" class="btn-close">
          <span class="pe-7s-close"><i class="lastudioicon-e-remove"></i></span>
        </button>
        <div class="row row-gutter-0">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="thumb">
              <img src="/img/shop/quick-view1.jpg" alt="Image">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <div class="single-product-info">
              <h4 class="title">Jigsaw Puzzles For Kids</h4>
              <div class="prices">
                <span class="price">$120.59</span>
              </div>
              <div class="product-rating">
                <div class="rating">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div class="review">
                  <a href="#/">( 5 Customer Review )</a>
                </div>
              </div>
              <div class="single-product-featured">
                <ul>
                  <li><i class="fa fa-check"></i> Free Shipping</li>
                  <li><i class="fa fa-check"></i> Support 24/7</li>
                  <li><i class="fa fa-check"></i> Money Return</li>
                </ul>
              </div>
              <p class="product-desc">Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisll exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duisol aute irure dolor in reprehenderit.</p>
              <div class="quick-product-action">
                <div class="action-top">
                  <div class="pro-qty">
                    <input type="text" id="quantity" title="Quantity" value="01" />
                  </div>
                  <button class="btn btn-theme">Add to Cart</button>
                  <a class="btn-wishlist" href="shop-wishlist.html">Add to Wishlist</a>
                </div>
              </div>
              <div class="widget">
                <h3 class="title">SKU:</h3>
                <div class="widget-tags">
                  <span>Ch-256xl</span>
                </div>
              </div>
              <div class="widget">
                <h3 class="title">Categories:</h3>
                <div class="widget-tags">
                  <a href="blog.html">Toys.</a>
                  <a href="blog.html">Dresss</a>
                </div>
              </div>
              <div class="widget">
                <h3 class="title">Tag:</h3>
                <div class="widget-tags">
                  <a href="blog.html">Toys,</a>
                  <a href="blog.html">Dress</a>
                </div>
              </div>
              <div class="widget">
                <h3 class="title">Share:</h3>
                <div class="widget-tags widget-share">
                  <span class="fa fa-facebook"></span>
                  <span class="fa fa-dribbble"></span>
                  <span class="fa fa-pinterest-p"></span>
                  <span class="fa fa-twitter"></span>
                  <span class="fa fa-linkedin"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="canvas-overlay"></div>
  </aside>
  <!--== End Product Quick View ==-->

  <!--== Start Aside Search Menu ==-->
  <div class="search-box-wrapper">
    <div class="search-box-content-inner">
      <div class="search-box-form-wrap">
        <div class="search-note">
          <p>Start typing and press Enter to search</p>
        </div>
        <form action="#" method="post">
          <div class="search-form position-relative">
            <label for="search-input" class="sr-only">Search</label>
            <input type="search" class="form-control" placeholder="Search" id="search-input">
            <button class="search-button"><i class="pe-7s-search"></i></button>
          </div>
        </form>
      </div>
    </div>
    <!--== End Aside Search Menu ==-->
    <a href="javascript:;" class="search-close"><i class="pe-7s-close"></i></a>
  </div>
  <!--== End Aside Search Menu ==-->

  <!--== Start Sidebar Cart Menu ==-->
  <aside class="sidebar-cart-modal">
    <div class="sidebar-cart-inner">
      <div class="sidebar-cart-content">
        <a class="cart-close" href="javascript:void(0);"><i class="pe-7s-close"></i></a>
        <div class="sidebar-cart-all">
          <div class="cart-header">
            <h3>Shopping Cart</h3>
            <div class="close-style-wrap">
              <span class="close-style close-style-width-1 cart-close"></span>
            </div>
          </div>
          <div class="cart-content cart-content-padding">
            <ul>
              <li class="single-product-cart">
                <div class="cart-img">
                  <a href="shop-single-product.html"><img src="/img/shop/details/nav1.jpg" alt=""></a>
                </div>
                <div class="cart-title">
                  <h4><a href="shop-single-product.html">Jigsaw Puzzles For Kids </a></h4>
                  <span> 1 × <span class="price"> $12.00 </span></span>
                </div>
                <div class="cart-delete">
                  <a href="#/"><i class="pe-7s-trash icons"></i></a>
                </div>
              </li>
              <li class="single-product-cart">
                <div class="cart-img">
                  <a href="shop-single-product.html"><img src="/img/shop/details/nav2.jpg" alt=""></a>
                </div>
                <div class="cart-title">
                  <h4><a href="shop-single-product.html">Bruder Toys Mini Ships </a></h4>
                  <span> 1 × <span class="price"> $59.00 </span></span>
                </div>
                <div class="cart-delete">
                  <a href="#/"><i class="pe-7s-trash icons"></i></a>
                </div>
              </li>
            </ul>
            <div class="cart-total">
              <h4>Subtotal: <span>$278.90</span></h4>
            </div>
            <div class="cart-checkout-btn">
              <a class="cart-btn" href="shop-cart.html">view cart</a>
              <a class="checkout-btn" href="shop-checkout.html">checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="sidebar-cart-overlay"></div>
  <!--== End Sidebar Cart Menu ==-->

  <!--== Start Side Menu ==-->
  <aside class="off-canvas-wrapper">
    <div class="off-canvas-inner">
      <div class="off-canvas-overlay d-none"></div>
      <!-- Start Off Canvas Content Wrapper -->
      <div class="off-canvas-content">
        <!-- Off Canvas Header -->
        <div class="off-canvas-header">
          <div class="close-action">
            <button class="btn-close"><i class="pe-7s-close"></i></button>
          </div>
        </div>

        <div class="off-canvas-item">
          <!-- Start Mobile Menu Wrapper -->
          <div class="res-mobile-menu">
            <!-- Note Content Auto Generate By Jquery From Main Menu -->
          </div>
          <!-- End Mobile Menu Wrapper -->
        </div>
        <!-- Off Canvas Footer -->
        <div class="off-canvas-footer"></div>
      </div>
      <!-- End Off Canvas Content Wrapper -->
    </div>
  </aside>
  <!--== End Side Menu ==-->
</div>

<!--=======================Javascript============================-->

<!--=== Modernizr Min Js ===-->
<script src="/js/modernizr.js"></script>
<!--=== jQuery Min Js ===-->
<script src="/js/jquery-main.js"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="/js/jquery-migrate.js"></script>
<!--=== Popper Min Js ===-->
<script src="/js/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="/js/bootstrap.min.js"></script>
<!--=== jquery Appear Js ===-->
<script src="/js/jquery.appear.js"></script>
<!--=== jquery Swiper Min Js ===-->
<script src="/js/swiper.min.js"></script>
<!--=== jquery Fancybox Min Js ===-->
<script src="/js/fancybox.min.js"></script>
<!--=== jquery Aos Min Js ===-->
<script src="/js/aos.min.js"></script>
<!--=== jquery Slicknav Js ===-->
<script src="/js/jquery.slicknav.js"></script>
<!--=== jquery Countdown Js ===-->
<script src="/js/jquery.countdown.min.js"></script>
<!--=== jquery Tippy Js ===-->
<script src="/js/tippy.all.min.js"></script>
<!--=== Isotope Min Js ===-->
<script src="/js/isotope.pkgd.min.js"></script>
<!--=== Parallax Min Js ===-->
<script src="/js/parallax.min.js"></script>
<!--=== Slick  Min Js ===-->
<script src="/js/slick.min.js"></script>
<!--=== jquery Wow Min Js ===-->
<script src="/js/wow.min.js"></script>
<!--=== jquery Zoom Min Js ===-->
<script src="/js/jquery-zoom.min.js"></script>

<!--=== Custom Js ===-->
<script src="/js/custom.js"></script>

</body>

</html>


